#mainitem #status,
#thumbnail,
#name,
#price,
#quantity,
#total {
  display: flex;
  align-items: center;
}
#name text {
  font-size: 15px;
}
#thumbnail {
  justify-content: space-evenly;
}
#thumbnail img {
  max-width: 80%;
}
#thumbnail .del-btn {
  font-size: 14px;
  color:#0085FF
}
#thumbnail .del-btn:hover {
  color: red;
}
#buttongroup {
  border-radius: 5px;
  background-color: #F8F8FC;
  border: solid 1px #B9B9B9;

}
#buttongroup #plus,
#minus {
  font-weight: 150;
  height: 30px;
}
#n-q-b {
  margin-top: 20px;
  justify-content: flex-end;
}
#n-q-b #name {
  left: 0;
}
@media screen and (min-width: 1024px) {
  #n-q-b #quantity,
  #n-q-b #buttongroup,
  #n-q-b #total,
  #n-q-b #price {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 768px) {
  #total {
    display: none;
  }
  #thumbnail img {
    max-width: 80%;
  }
  #n-q-b #quantity,
  #n-q-b #buttongroup,
  #n-q-b #total,
  #n-q-b #price {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 541px) {
  #total {
    display: none;
  }
  #thumbnail img {
    max-width: 80%;
  }
}
