.card {
  border: none !important;
  border-radius: 0 !important;
}

.card p {
  margin: 0;
}

.card-img-top {
  border-radius: 0 !important;
  height: 250px;
  object-fit: cover;
}
.card-body {
  min-height: 129px;
}
.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.card-body {
  padding: 10px 20px;
}

.card-body .price {
  color: #176fc0;
  font-size: 22px;
  font-weight: 600;
}

.card-body .time-up {
  font-size: 14px;
  color: rgb(131, 131, 131);
}

.card-body .content {
  color: rgb(131, 131, 131);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/* @media screen and (min-width: 768px) {
  .card p {
    font-size: 10px;
  }
}
@media screen and (min-width: 900px) {
  .card p {
    font-size: 14px;
  }
} */
