.cards-wraper {
  display: flex;
  justify-content: center;
  padding: 0 30px;
}
.carousel-control-prev {
  justify-content: start !important;
  padding-left: 20px !important;
}
.carousel-control-next {
  justify-content: end !important;
  padding-right: 20px !important;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #e1e1e1;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  /* cut child in card wrapper */
  .cards-wraper {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
}
@media screen and (min-width: 900px) {
  .cards-wraper {
    padding: 0 100px;
  }
}