* {
    line-height: 3;
    font-weight: 500;
}

.login-form {
    margin: auto;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 30px;
    box-sizing: border-box;
    font-family: Source Sans Pro;
    height: 100%;
    left: 0;
    padding: 48px 48px 0px 48px;
    position: relative;
    text-align: left;
    top: 0;
    width: 500px;
}

.space {
    padding-top: 40px;
}

.register{
    text-align: center;
    padding-top: 40px;
}