/* .mt-3 {
    display: flex;
    justify-content: flex-end;
}

.mt-3 button {
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
}

.mt-3 button:first-child {
    margin-right: 15px;
} */